<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>com.e.sports.servlets.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loginServlet</servlet-name>
        <servlet-class>com.e.sports.servlets.loginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>com.e.sports.servlets.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditProfileServlet</servlet-name>
        <servlet-class>com.e.sports.servlets.EditProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminLoginServlet</servlet-name>
        <servlet-class>com.e.sports.servlets.AdminLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminLogoutServlet</servlet-name>
        <servlet-class>com.e.sports.servlets.AdminLogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddNewCourse</servlet-name>
        <servlet-class>com.e.sports.servlets.AddNewCourse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCourseServlet</servlet-name>
        <servlet-class>com.e.sports.servlets.UpdateCourseServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCourse</servlet-name>
        <servlet-class>com.e.sports.servlets.UpdateCourse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCourseServlet</servlet-name>
        <servlet-class>com.e.sports.servlets.DeleteCourseServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuyCourseServlet</servlet-name>
        <servlet-class>com.e.sports.servlets.BuyCourseServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddNewSchedule</servlet-name>
        <servlet-class>com.e.sports.servlets.AddNewSchedule</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateSchedule</servlet-name>
        <servlet-class>com.e.sports.servlets.UpdateSchedule</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToGallery</servlet-name>
        <servlet-class>com.e.sports.servlets.AddToGallery</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GalleryUpdate</servlet-name>
        <servlet-class>com.e.sports.servlets.UpdateGallery</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateGallery</servlet-name>
        <servlet-class>com.e.sports.servlets.UpdateGallery</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteGalleryServlet</servlet-name>
        <servlet-class>com.e.sports.servlets.DeleteGalleryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddFeedback</servlet-name>
        <servlet-class>com.e.sports.servlets.AddFeedback</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgotPassword</servlet-name>
        <servlet-class>com.e.sports.servlets.ForgotPassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewPassword</servlet-name>
        <servlet-class>com.e.sports.servlets.NewPassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddFeedbackNormalUser</servlet-name>
        <servlet-class>com.e.sports.servlets.AddFeedbackNormalUser</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loginServlet</servlet-name>
        <url-pattern>/loginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditProfileServlet</servlet-name>
        <url-pattern>/EditProfileServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminLoginServlet</servlet-name>
        <url-pattern>/AdminLoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminLogoutServlet</servlet-name>
        <url-pattern>/AdminLogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddNewCourse</servlet-name>
        <url-pattern>/AddNewCourse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCourseServlet</servlet-name>
        <url-pattern>/UpdateCourseServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCourse</servlet-name>
        <url-pattern>/UpdateCourse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCourseServlet</servlet-name>
        <url-pattern>/DeleteCourseServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuyCourseServlet</servlet-name>
        <url-pattern>/BuyCourseServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddNewSchedule</servlet-name>
        <url-pattern>/AddNewSchedule</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateSchedule</servlet-name>
        <url-pattern>/UpdateSchedule</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToGallery</servlet-name>
        <url-pattern>/AddToGallery</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GalleryUpdate</servlet-name>
        <url-pattern>/GalleryUpdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateGallery</servlet-name>
        <url-pattern>/UpdateGallery</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteGalleryServlet</servlet-name>
        <url-pattern>/DeleteGalleryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddFeedback</servlet-name>
        <url-pattern>/AddFeedback</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgotPassword</servlet-name>
        <url-pattern>/ForgotPassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewPassword</servlet-name>
        <url-pattern>/NewPassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddFeedbackNormalUser</servlet-name>
        <url-pattern>/AddFeedbackNormalUser</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
